{% macro links(links, collection, group, options) %}
    {% for link in links %}
        <li class="{{ link.current ? 'current' }} {{ link.active ? 'active' }} {{ link.classes }}">
            <a href="{{ link.url }}" target="{{ link.target }}">
                {{ link.title }}
            </a>

            {% if not collection.children(link.getObject()).isEmpty() %}
                <ul>
                    {{ _self.links(collection.children(link.getObject()), collection, group, options) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
