{% macro links(links, collection, options) %}
    {% for link in links %}
        <li class="
            {{ collection.children(link.getObject()).isEmpty() ? '' : 'has-children' }}
            {{ link.current ? (options.current_class ?: 'current') }}
            {{ link.active ? (options.active_class ?: 'active') }}
            {{ link.class }}
            {{ options.item_class }}
            ">
            <a href="{{ link.url }}" target="{{ link.target }}">
                {{ link.title }}
            </a>

            {% if not collection.children(link.getObject()).isEmpty() %}
                <ul class="{{ options.child_list_class }}">
                    {{ _self.links(collection.children(link.getObject()), collection, options) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
