{% macro links(links, collection, options, depth) %}
    {% if depth <= options.get('max_depth', 999) %}
        {% for link in links %}

            {% set children = collection.children(link) %}

            <li class="
            {{ children.isEmpty() ? '' : (options.dropdown_class ?: 'dropdown') }}
            {{ link.active ? options.get('active_class', 'active') }}
            {{ collection.hasActive(link) ? options.get('has_active_class', 'active') }}
            {{ options.item_class }}
            {{ link.class }}">

                <a href="{{ link.url }}" target="{{ link.target }}">
                    {{ link.title }}
                </a>

                {% if not children.isEmpty() %}
                    <ul class="{{ options.child_list_class }}">
                        {{ _self.links(children, collection, options, depth+1) }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
{% endmacro %}
