<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::admin.choose_link_type') }}</h4>
</div>

<div class="modal-body">
    {% if not link_types.isEmpty() %}
        <ul class="nav nav-stacked">
            {% for link_type in link_types %}
                <li>
                    <a href="{{ url_to('admin/navigation/links/' ~ group ~ '/create?link_type=' ~ link_type.namespace) }}">
                        <strong>{{ trans(link_type.label) }}</strong>
                        <br>
                        <small>{{ trans(link_type.description) }}</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
    {% endif %}
</div>
