{% macro navigation_links(links) %}
    {% if links %}
        {% for link in links %}
            <li data-id="{{ link.id }}" data-root>
                <div class="content" data-content>
                    <i class="fa fa-plus-square {% if not count(link.children) %} hidden {% endif %}" data-collapse></i>
                    {% if count(link.children) %}
                        <a href="{{ link.adminUrl }}">
                            {{ link.title }}
                        </a>
                    {% else %}
                        {{ link.title }}
                    {% endif %}
                    <div class="hidden pull-right" data-buttons>
                        <a href="{{ link.editUrl }}">
                            <i class="icon pencil"></i>
                            Edit
                        </a>
                    </div>
                </div>
                {% if count(link.children) %}
                    <ul data-children>
                        {{ _self.navigation_links(link.children) }}
                    </ul>
                {% else %}
                    <ul></ul>
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
{% endmacro %}

